{% extends "layout.html" %}

{% block content %}


<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar bg-dark navbar-dark ">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills and Technologies</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#engineering">Engineering Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#general">General Work Experience</a>
                </li>
            </ul>

            </nav>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg">
        <h3 id="skills">Skills and Technologies</h3>

        <ul style="list-style-type:none;">
            <li>
                <b>Programming Languages:</b>
                <ul style="list-style-type:none;">
                    <li>
                        Python
                    </li>
                    <li>
                        C/C++/C#
                    </li>
                    <li>
                        R
                    </li>
                    <li>
                        HTML/CSS
                    </li>
                    <li>
                        SQL
                    </li>

                </ul>
            </li>

            <li>
                <b>Dev Tools:</b>
                <ul style="list-style-type:none;">
                    <li>
                        GIT
                    </li>
                    <li>
                        Visual Studio
                    </li>
                    <li>
                        SQL Server Management Studio
                    </li>
                    <li>
                        PyCharm
                    </li>
                </ul>
            </li>
            <li>
                <b>Other Skills:</b>
                <ul style="list-style-type:none;">
                    <li>
                        Technical Communication
                    </li>
                    <li>
                        Conflict Resolution
                    </li>
                    <li>
                        People Management
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        <h3 id="education">Education</h3>

        <ul style="list-style-type:none;">
            <li>
                <b>Washington State University</b>
                <br />
                <i>Class of 2019</i>
                <br />
                Bachelor of Science in Computer Science with an emphasis in Software Engineering
                <br />

                While the main course load leaned havily on object oriented development in the C family of languages, I took electives for Python programming, security, databases, and algorithm design. As part of gradutating, I also took part in a year long
                senior design course where we had to deliever a real application to our client based on their specifications, with all the hurdles that come with a client-developer relationship.
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        <h3 id="engineering">Engineering Experience</h3>

        <ul style="list-style-type:none;">
            <li>
                <b>Tata Cosultancy Services</b><br />
                <i>Software Engineer</i><br />
                Feb 2019 - Current<br />
                As my first full time software engineering job since earning my degree, I have learned much from my time at TCS. Working with multiple clients has allowed me to learn a number of new technologies and utilize them in new ways.
                My main accomplishment while working here has been the development of a data analytics portal for displaying and monitoring financial transaction data. This portal has allowed my client to cut back time spent on this analysis by almost 50 percent,
                and has increased the effectivness of those analysis by about 30%. While originally developed in R, increasing functionality and a growing user base have since lead me to port the portal over to a more robust language in Python, and utilizing the Flask
                micro-framework, which this website also utilizes.
            </li>
            <br />
            <li>
                <b>The H.E.L.P Lab at WSU </b><br />
                <i>Software Engineer- Intern </i><br />
                Summer 2017<br />
                As an intern for the H.E.L.P Lab, I was responsible for bug fixes and new features for the OSBLE+ website. This website was a research tool that helped fascilitate communication in classrooms, and provided a place to discuss assignments, ask for help,
                and numerous other features one would expect from an educational resource. During my time here, I worked mostly in C#, working on the backend of the website, adding features like allowing instructors to input and modify grades, and fixing dozens of user submitted
                bugs. In addition, I worked with some Javascript and HTML to add certain front end elements that made my backend changes usable by the end user.
            </li>
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-lg">

        <h3 id="general">General Work Experience</h3>
        <h6>In addition to engieering experience, I have worked in retail and customer service since I was a teenager. Here are some highlights of that experience:</h6>

        <ul style="list-style-type:none;">
            <li>
                <b>Washington State University Dining Services</b> <br />
                <i>Student Manager</i> <br />
                Spent just over three years as a student manager for one of three dining halls on campus. While attending school full time, I also helped to manage over 50 student employees, ensuring smooth operations,
                fascilitating communication between full time kitchen staff and students, and mentoring and counseling employees as needed.
            </li>
            <br />
            <li>
                <b>Hallmark</b><br />
                <i>Keyholder/Shift-lead </i><br />
                Despite working a short time here before having to move, I proved myself very valuable while assiting in the opening of a new store, being promoted to shift-lead and getting opening and closing responsibilities.
                As my first foray into management, I learned conflict resolution and was able to begin honing my mentorship skills, both of which I have continued to utilize over the years across different workplaces.
            </li>
        </ul>
    </div>
</div>
-->


<div class="row">
    <div class="col-2">
        <div class="sidebar-item">
            <div class="make-me-sticky">
                <nav class="navbar bg-dark navbar-dark ">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills and Technologies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#engineering">Engineering Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#general">General Work Experience</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>

    </div>
    <div class="col-9">
        <div class="content-section">
            <div class="row">
                <div class="col-lg">
                    <h3 id="skills">Skills and Technologies</h3>

                    <ul style="list-style-type:none;">
                        <li>
                            <b>Programming Languages:</b>
                            <ul style="list-style-type:none;">
                                <li>
                                    Python
                                </li>
                                <li>
                                    C/C++/C#
                                </li>
                                <li>
                                    R
                                </li>
                                <li>
                                    HTML/CSS
                                </li>
                                <li>
                                    SQL
                                </li>

                            </ul>
                        </li>

                        <li>
                            <b>Dev Tools:</b>
                            <ul style="list-style-type:none;">
                                <li>
                                    GIT
                                </li>
                                <li>
                                    Visual Studio
                                </li>
                                <li>
                                    SQL Server Management Studio
                                </li>
                                <li>
                                    PyCharm
                                </li>
                            </ul>
                        </li>
                        <li>
                            <b>Other Skills:</b>
                            <ul style="list-style-type:none;">
                                <li>
                                    Technical Communication
                                </li>
                                <li>
                                    Conflict Resolution
                                </li>
                                <li>
                                    People Management
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg">
                    <h3 id="education">Education</h3>

                    <ul style="list-style-type:none;">
                        <li>
                            <b>Washington State University</b>
                            <br />
                            <i>Class of 2019</i>
                            <br />
                            Bachelor of Science in Computer Science with an emphasis in Software Engineering
                            <br />

                            While the main course load leaned havily on object oriented development in the C family of languages, I took electives for Python programming, security, databases, and algorithm design. As part of gradutating, I also took part in a year long
                            senior design course where we had to deliever a real application to our client based on their specifications, with all the hurdles that come with a client-developer relationship.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg">
                    <h3 id="engineering">Engineering Experience</h3>

                    <ul style="list-style-type:none;">
                        <li>
                            <b>Tata Cosultancy Services</b><br />
                            <i>Software Engineer</i><br />
                            Feb 2019 - Current<br />
                            As my first full time software engineering job since earning my degree, I have learned much from my time at TCS. Working with multiple clients has allowed me to learn a number of new technologies and utilize them in new ways.
                            My main accomplishment while working here has been the development of a data analytics portal for displaying and monitoring financial transaction data. This portal has allowed my client to cut back time spent on this analysis by almost 50 percent,
                            and has increased the effectivness of those analysis by about 30%. While originally developed in R, increasing functionality and a growing user base have since lead me to port the portal over to a more robust language in Python, and utilizing the Flask
                            micro-framework, which this website also utilizes.
                        </li>
                        <br />
                        <li>
                            <b>The H.E.L.P Lab at WSU </b><br />
                            <i>Software Engineer- Intern </i><br />
                            Summer 2017<br />
                            As an intern for the H.E.L.P Lab, I was responsible for bug fixes and new features for the OSBLE+ website. This website was a research tool that helped fascilitate communication in classrooms, and provided a place to discuss assignments, ask for help,
                            and numerous other features one would expect from an educational resource. During my time here, I worked mostly in C#, working on the backend of the website, adding features like allowing instructors to input and modify grades, and fixing dozens of user submitted
                            bugs. In addition, I worked with some Javascript and HTML to add certain front end elements that made my backend changes usable by the end user.
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-lg">

                    <h3 id="general">General Work Experience</h3>
                    <h6>In addition to engieering experience, I have worked in retail and customer service since I was a teenager. Here are some highlights of that experience:</h6>

                    <ul style="list-style-type:none;">
                        <li>
                            <b>Washington State University Dining Services</b> <br />
                            <i>Student Manager</i> <br />
                            Spent just over three years as a student manager for one of three dining halls on campus. While attending school full time, I also helped to manage over 50 student employees, ensuring smooth operations,
                            fascilitating communication between full time kitchen staff and students, and mentoring and counseling employees as needed.
                        </li>
                        <br />
                        <li>
                            <b>Hallmark</b><br />
                            <i>Keyholder/Shift-lead </i><br />
                            Despite working a short time here before having to move, I proved myself very valuable while assiting in the opening of a new store, being promoted to shift-lead and getting opening and closing responsibilities.
                            As my first foray into management, I learned conflict resolution and was able to begin honing my mentorship skills, both of which I have continued to utilize over the years across different workplaces.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>









{% endblock %}
